<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/home/ubuntu/Adelphoi/adelphoi-django/templates/index.css">  
    </head>
    <body>
        
        <div class="heading">
        <div>
        <img src="/home/ubuntu/Adelphoi/adelphoi-django/sources/logo.png" alt="logo" class="img"/>
        
        </div>
        <div>
        <h1>FirstMatchReport</h1>
        <h2>{{name}}</h2>
        <h3>Referral Status:{{status}}	</h3>
        <h3>Recommended Program:{{status}}	</h3>
        <h3>Prognosis Score:{{status}}	</h3>
        <h3>Prognosis Explanation:{{status}}	</h3>
        <p>The prognosis score represents the likelihood that David will successfully complete the recommended program and remain out of care for at least one year.  The score was produced using the FirstMatch tool.  FirstMatch considered multiple predictive factors to produce David’s prognosis score.    These factors could include David’s YLS scores, CANS and FAST assessment factors, trauma history, age, legal status, family support and engagement likelihood, incarcerated caregiver or sibling, time since last living at home, mental health history/symptoms, substance abuse history, level of aggression, psychiatric hospitalizations, intellectual functioning, placement history, and AWOL history along with several other factors.
        </p>
        <p>The FirstMatch tool compares David’s predictive factors to the historical outcomes achieved by youth that have been through (recommended level of care/program) and presented with similar combinations of predictive factors.  The (recommended level of care/program) provides a high fidelity program that uses interventions that have a demonstrated ability to replicate outcomes for the target population.  
        </p>
        <p>The FirstMatch tool recommends the program that has historically demonstrated the greatest success for youth with circumstances similar to David’s within Adelphoi’s continuum of care</p>
        <p>The FirstMatch tool is also used by Adelphoi to assist in the treatment planning process.  Identifying and planning interventions for the needs and responsivity factors unique to David will help maximize David’s success likelihood.
        </p><br/>
        </div>
        
        <h4>Additional information:</h4>
        <div class="footer">
        <p class="content" >We hope this information is helpful to the court’s process of identifying the most suitable program for David.  Should you have any additional questions about this report, please contact our Admissions Director, Candice Rinaldi at (724)804-7013.</p>
    </div>
    </div>
    </body>
</html>